<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kshitiz Singh | Resume</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h1>Kshitiz Singh</h1>
    <p>
        <a href="https://github.com/yourusername">GitHub</a> |
        <a href="https://linkedin.com/in/yourusername">LinkedIn</a> |
        <a href="mailto:kshitiz17.indore@gmail.com">Gmail</a> |
        <a href="mailto:kshitiz17.indore@gmail.com">Personal Gmail</a>
    </p>

    <h2>Education</h2>
    <ul>
        <li><b>IIT Madras</b>  BSc Data Science (Ongoing)</li>
        <li><b>Civil Engineering</b>  [Your College]</li>
    </ul>


    <h2>Skills</h2>
    <p>Python, SQL, Pandas, NumPy, Git, DSA</p>


    <h2>Projects</h2>
    <p>
        <b>Project Name</b> –
        <a href="https://github.com/yourusername/project">GitHub</a>
    </p>


</body>
</html>